// Physical layout positions (88 keys, 7 rows x 14 cols)
//
//   R0: [00][01][02][03][04][05][06]   [07][08][09][10][11][12][13]
//   R1: [14][15][16][17][18][19][20]   [21][22][23][24][25][26][27]
//   R2: [28][29][30][31][32][33][34]   [35][36][37][38][39][40][41]
//   R3: [42][43][44][45][46][47][48]   [49][50][51][52][53][54][55]
//   R4: [56][57][58][59][60][61]           [62][63][64][65][66][67]
//   R5: [68][69][70][71]                       [72][73][74][75]
//   R6: [76][77][78][79][80][81]       [82][83][84][85][86][87]
//
//   Pinky: col0/col13  Ring: col1/col12  Mid: col2/col11
//   Index: col3/col10  Inner: col4/col9  Thumb: col5-6/col7-8

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
&kp ESC  &kp N1    &kp N2    &kp N3   &kp N4   &kp N5    &kp N6      &kp N7   &kp N8   &kp N9   &kp N0   &kp MINUS &kp EQUAL &kp BSPC
&kp TAB  &bt BT_SEL 0     &studio_ubl     &bootloader    &kp R    &kp T     &kp Y       &kp U    &kp I    &kp O    &kp P    &kp LBKT  &kp RBKT  &kp BSLH
&kp CAPS &kp A     &kp S     &kp D    &kp F    &kp G     &kp H       &kp J    &kp K    &kp L    &kp SEMI &kp SQT   &kp ENTER &kp ENTER
&kp LSHFT &kp Z    &kp X     &kp C    &kp V    &kp B     &kp N       &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT &kp UP    &kp PG_UP
&kp LCTRL &kp LGUI &kp LALT  &kp SPACE &kp SPACE &mo LOWER          &kp LEFT &kp DOWN &kp UP   &kp RIGHT &kp RALT  &mo RAISE
&kp DEL   &kp ENTER &kp SPACE &kp TAB                                 &kp DOWN &kp UP   &kp RIGHT &mo RAISE
&kp SPACE &mo LOWER &kp TAB  &mo RAISE &kp ENTER &kp BSPC             &kp SPACE &mo LOWER &kp TAB &mo LOWER &kp ENTER &kp BSPC
			>;
		};

		lower_layer {
			bindings = <
&trans &trans &trans &trans &trans &trans &trans  &studio_ubl &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans          &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans                        &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans          &trans &trans &trans &studio_ubl &trans &trans
			>;
		};

		raise_layer {
			bindings = <
&kp F1 &kp F2    &kp F3    &kp F4   &kp F5   &kp F6    &kp F7     &kp F8   &kp F9   &kp F10  &kp F11  &kp F12  &trans  &trans
&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5 &bt BT_SEL 6 &bt BT_SEL 7 &bt BT_CLR &out OUT_USB &out OUT_BLE &bootloader &trans &trans
&trans &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans          &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans                        &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans          &trans &trans &trans &trans &trans &trans
			>;
		};
	};
};


/*
qwe
asd
zxc
*/
